<a href="https://colab.research.google.com/github/pushpakjagtap15-ui/Exp-7/blob/main/Loops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Experiment-7
#Title-To study loops in python
#PRN-25070123148         #Batch-25-29        #Dept-ENTC    #DIV-A

In [ ]:
i=1
while i<7:
  print(i)
  i+=1

1
2
3
4
5
6

In [ ]:
#factorial for number

number=int(input("Enter a number:  "))
i=1
fact=1
while i<=number:
  fact=fact*i
  i+=1
print(fact)

Enter a number:  9
362880

In [ ]:
#reverse the number
num=input("Enter a number:  ")
i=len(num)-1
while i>=0 :
         print(num[i],e

Enter a number:  678
876

In [ ]:
#pallindrome
user_input=input("Enter a string: ")
rev=user_input[::-1]
if user_input==rev:
  print("Pallindrome")
else:
  print("Not pallindrome")

Enter a string: waw
Pallindrome

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [ ]:
#experiment 7

#print 1 to 10 skip 5
i=1
while i<=10:
  if i==5:
    i+=1
    continue
  print(i)
  i+=1

1
2
3
4
6
7
8
9
10

In [ ]:
#print only odd numbers between 1 to 10
i=1
while i<=10:
  if i%2==0:
   continue
   i+=1
print(i,end= " ")
i+=1

KeyboardInterrupt:

In [ ]:
#for loop
for i in range(1,9):
  print(i)

1
2
3
4
5
6
7
8

In [ ]:
#For loop using break continue and pass function works same as in while loop

#print even number from1 to 10 using range func
i=1
for i in range(2,11,2):
  print(i,end="")

246810

In [ ]:
#sum of first n numbers
n=int(input("Enter a number: "))
i=1
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

Enter a number: 7
28

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
#for matrix
A=[[1,2,3,], [4,5,6],[7,8,9]]
for i in range(3):
  for j in range(3):
    print(A[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#most important
a=[[1,2,3],[4,5,6],[7,8,9]]
b=[[11,12,13],[14,15,16],[17,18,19]]
r=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
  for j in range(3):
    for k in range(3):
      r[i][j]=a[i][k]*b[k][j]



      for i in range(2):
        for j in range(3):
          print(r[i][j])

11
0
0
0
0
0
11
0
0
0
0
80
11
0
0
0
0
114
11
0
0
0
48
114
11
0
0
0
48
80
11
0
0
0
48
114
11
0
0
0
48
52
11
0
0
0
48
80
11
0
0
0
48
114
11
0
0
44
48
114
11
0
0
44
48
80
11
0
0
44
48
114
11
0
0
44
48
114
11
0
0
44
48
80
11
0
0
44
48
114
11
0
0
44
48
52
11
0
0
44
48
80
11
0
0
44
48
114
11
0
0
44
48
114
11
0
0
44
48
80
11
0
0
44
48
114
11
0
0
44
48
114
11
0
0
44
48
80
11
0
0
44
48
114
11
0
0
44
48
52
11
0
0
44
48
80
11
0
0
44
48
114